@import "./mixin";
@import "./variable";

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: $fz-sm;
    font-weight: 300;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: $lightModeBackground;
    color: $lightModeText;

    @include breakpoint-up(medium){
        font-size: $fz-md;
    }
}

//Spacing
.container {
    max-width: 1440px;
    margin: 0 auto;
}



.button {
    width: 10rem;
    height: 3rem;
    background-color: $lightModeElement;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 7px #ccc;
    outline: none;
    cursor: pointer;
    > .icon {
      margin-right: 1rem;
    }
}

//Toggle transition
.noFilter{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 200ms;
}

.filter {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 200ms;
  }