//Colors

$darkModeElement: hsl(209, 23%, 22%);
$darkModeBackground: hsl(207, 26%, 17%);
$darkModeText: hsl(0, 0%, 100%);

$lightModeInput: hsl(0, 0%, 52%);

$lightModeElement: hsl(0, 0%, 100%);
$lightModeBackground: hsl(0, 0%, 98%);
$lightModeText: hsl(200, 15%, 8%);


//Font size

$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-large: 2rem;
$fz-xlarge: 2.4rem;


//Text




